%h2 Shares

.section
  TODO: Personal share status here.

.section
  TODO: Action buttons here.

%h3 Payments pending for issued shares
.section

%h3 Outstanding share withdrawals
.section

%h3 Share ownership
.section
