%h2 Shares

.section
  %p
    The share value is
    = number_to_currency(co.share_value_in_pounds, :unit => "£")

.section
  TODO: Action buttons here.

- if @share_payments_pending.present?
  .section
    %h3 Payments pending for issued shares

- if @share_withdrawals_outstanding.present?
  .section
    %h3 Outstanding share withdrawals

- if can?(:update, co)
  .section
    = link_button("Adjust share value", :url => edit_share_value_shares_path)
    %br.clear

.section
  %h3 Share ownership
