%h2 Shares

.section
  TODO: Personal share status here.

.section
  TODO: Action buttons here.

- if @share_payments_pending.present?
  .section
    %h3 Payments pending for issued shares

- if @share_withdrawals_outstanding.present?
  .section
    %h3 Outstanding share withdrawals

.section
  %h3 Share ownership
