%p= @meeting.happened_on.to_s(:long_ordinal)
%ul.participants
  - @meeting.participants.each do |participant|
    = content_tag_for(:li, participant) do
      = participant.name
= simple_format(@meeting.minutes)
