= fields_for(:change_objectives_resolution) do |change_objectives_resolution_fields|
  %p.explanation "The objects of the Co-operative shall be to carry on the business as a co-operative and to carry on any other trade, business or service and in particular to...
  = change_objectives_resolution_fields.text_area(:objectives)
