- if task.to_partial_name
  = render(:partial => "tasks/#{task.to_partial_name}", :locals => {:task => task})
  - if defined?(show_dismiss_link) && !!show_dismiss_link
    %p.dismiss
      = link_to("Dismiss", dismiss_task_path(task), :method => :put)
