%p
  The members have made an application to convene a General Meeting. You must now convene a General Meeting.
  = link_to('View details of the application.', general_meeting_proposal_path(task.subject))