%h3 Terms of Use
%p
  %strong PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SITE
%ol.terms.explicit_numbering
  %li
    1 Terms of Website Use
    %ol
      %li
        1.1 This terms of use (together with the documents referred to in it) tells you the terms of use on which you may make use of our website
        %strong http://oneclick.uk.coop/
        %strong (“our Site”),
        whether as a guest or a registered user. Use of our Site includes accessing, browsing, or registering to use our Site.
      %li 1.2 Please read these terms of use carefully before you start to use our Site, as these will apply to your use of our Site. We recommend that you print a copy of this for future reference.
      %li 1.3  By using our Site, you confirm that you accept these terms of use and that you agree to comply with them.
      %li 1.4 If you do not agree to these terms of use, you must not use our Site.
  %li
    2 Other Applicable Terms
    %ol
      %li
        2.1 These terms of use refer to the following additional terms, which also apply to your use of our Site:
        %ul
          %li
            Our Privacy Policy
            %a{:href => 'http://www.uk.coop/document/website-terms-and-conditions'} http://www.uk.coop/document/website-terms-and-conditions
            which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using our Site, you consent to such processing and you warrant that all data provided by you is accurate.
          %li
            Our Cookie Policy
            %a{:href => 'http://www.uk.coop/document/website-terms-and-conditions'} http://www.uk.coop/document/website-terms-and-conditions
            which sets out information about the cookies on our Site.
  %li
    3 Information About Us
    %ol
      %li
        3.1
        %a{:href => 'http://oneclick.uk.coop/'} http://oneclick.uk.coop/
        is a site operated by
        %strong Co-operatives UK Limited
        (“We”).  We are registered as an industrial and provident society in England and Wales under registered number 2783R and have our registered office at Holyoake House, Hanover Street, Manchester, M60 0AS.
      %li 3.2 We are the national trade body that campaigns for co-operation and works to promote, develop and unite co-operative enterprises.
      %li 3.3 We have a unique role as a trade association for co-operatives. We aim to bring together all those with a passion and interest in co-operative action.
      %li 3.4 On the site users are able to engage as a client with Co-operatives UK, provide information for anti-money laundering requirements, finalise the governing document, complete application forms and provide Co-operatives UK with documents whereby they can effect the registration with the Financial Conduct Authority via our Site.  Users will be given log in and password details to access our Site.
      %li 3.5 Our Site also acts as a platform for the ongoing online governance of industrial and provident societies.
  %li
    4 Changes To These Terms
    %ol
      %li 4.1 We may revise these terms of use at any time by amending this page.
      %li 4.2 Please check this page from time to time to take notice of any changes we made, as they are binding on you.
  %li
    5 Changes To Our Site
    %ol
      %li 5.1 We may update our Site from time to time, and may change the content at any time. However, please note that any of the content on our Site may be out of date at any given time, and we are under no obligation to update it.
      %li 5.2 We do not guarantee that our Site, or any content on it, will be free from errors or omissions.
  %li
    6 Accessing Our Site
    %ol
      %li 6.1 Our Site is made available free of charge.
      %li 6.2 We do not guarantee that our Site, or any content on it, will always be available or be uninterrupted. Access to our Site is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our Site without notice. We will not be liable to you if for any reason our Site is unavailable at any time or for any period.
      %li 6.3 You are responsible for making all arrangements necessary for you to have access to our Site.
      %li 6.4 You are also responsible for ensuring that all persons who access our Site through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.
  %li
    7 Your Account and Password
    %ol
      %li 7.1 If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.
      %li 7.2 We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.
      %li
        7.3 If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at
        %strong support@uk.coop.
  %li
    8 Intellectual Property Rights
    %ol
      %li 8.1 We are the owner or the licensee of all intellectual property rights in our Site, and in the material published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved.
      %li 8.2 You may print off one copy, and may download extracts, of any page(s) from our Site for your personal use and you may draw the attention of others within your organisation to content posted on our Site.
      %li 8.3 You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
      %li 8.4 Our status (and that of any identified contributors) as the authors of content on our Site must always be acknowledged.
      %li 8.5 You must not use any part of the content on our Site for commercial purposes without obtaining a licence to do so from us or our licensors.
      %li 8.6 If you print off, copy or download any part of our Site in breach of these terms of use, your right to use our Site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
  %li
    9 No Reliance On Information
    %ol
      %li 9.1 The content on our Site is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our Site.
      %li 9.2 Although we make reasonable efforts to update the information on our Site, we make no representations, warranties or guarantees, whether express or implied, that the content on our Site is accurate, complete or up-to-date.
  %li
    10  Limitation Of Our Liability
    %ol
      %li 10.1  Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.
      %li 10.2  To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our Site or any content on it, whether express or implied.
      %li
        10.3  We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
        %ol
          %li 10.3.1  use of, or inability to use, our Site; or
          %li 10.3.2  use of or reliance on any content displayed on our Site.
          %li 10.3.3  loss of profits, sales, business, or revenue;
          %li 10.3.4  business interruption;
          %li 10.3.5  loss of anticipated savings;
          %li 10.3.6  loss of business opportunity, goodwill or reputation; or
          %li 10.3.7  any indirect or consequential loss or damage.
      %li 10.4  We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Site or to your downloading of any content on it, or on any website linked to it.
      %li 10.5  We assume no responsibility for the content of websites linked on our Site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.
  %li
    11  Viruses
    %ol
      %li 11.1  We do not guarantee that our Site will be secure or free from bugs or viruses.
      %li 11.2  You are responsible for configuring your information technology, computer programmes and platform in order to access our Site. You should use your own virus protection software.
      %li 11.3  You must not misuse our Site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our Site, the server on which our Site is stored or any server, computer or database connected to our Site. You must not attack our Site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Site will cease immediately.
  %li
    12  Linking To Our Site
    %ol
      %li 12.1  You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.
      %li 12.2  You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
      %li 12.3  You must not establish a link to our Site in any website that is not owned by you.
      %li 12.4  Our Site must not be framed on any other site, nor may you create a link to any part of our Site other than the home page.
      %li 12.5  We reserve the right to withdraw linking permission without notice.
      %li
        12.6  If you wish to make any use of content on our Site other than that set out above, please contact
        %strong support@uk.coop.
  %li
    13  Third Party Links And Resources In Our Site
    %ol
      %li 13.1  Where our Site contains links to other sites and resources provided by third parties, these links are provided for your information only.
      %li 13.2  We have no control over the contents of those sites or resources.
  %li
    14  Applicable Law
    %ol
      %li 14.1  These terms of use, its subject matter and its formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.
  %li
    15  Contact Us
    %ol
      %li
        15.1  To contact us, please email
        %strong support@uk.coop.

%p Thank you for visiting our Site.

%p
  %a{:href => 'javascript:window.close()'} Close this window.
