%h2 Choose your organisation type
%p TODO: Explanatory text on this page.
%ul.organisations
  %li= link_to("Association", new_association_path)
  %li= link_to("Company", new_company_path)
  %li= link_to("Co-operative", new_coop_path)
