* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f6f6f6;
  color: #333333;
  font-family: "Myriad", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Base font size */
  font-size: 15px;
  /* Prevent Get Satisfaction feedback tab overlapping the container */
  padding: 0 40px; }

#container {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  padding: 12px; }

div.clear {
  clear: left; }

/* Browser warning */
#browser_warning {
  background-color: #f6f5d1;
  border: 1px solid #9e005d;
  font-size: 0.9em;
  margin: 0 0 1em 0;
  padding: 0.4em 2em;
  text-align: center; }
  #browser_warning p {
    margin: 0.4em; }

/* Induction */
#overlay {
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #e0e0af;
  background: -moz-linear-gradient(100% 100% 90deg, #9d9d75, #e0e0af);
  background: -webkit-gradient(linear, left bottom, left top, from(#9d9d75), to(#e0e0af));
  border-bottom: 1px solid #111111;
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
  margin: -12px 0 12px; }
  #overlay a {
    background: #333333;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #333333;
    color: white;
    margin: 0 2px;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: none; }
    #overlay a:hover {
      background: #444444;
      background: rgba(0, 0, 0, 0.7);
      text-decoration: none; }
  #overlay form input {
    float: right;
    margin-right: 8px; }
  #overlay h3 {
    margin: 0;
    padding: 12px 12px 6px;
    text-shadow: white -1px -1px 2px; }
  #overlay p {
    color: black;
    font-size: 1em;
    line-height: 1.6em;
    margin: 0;
    padding: 18px 12px;
    text-shadow: white -1px -1px 2px; }

#overlay.proposed {
  background: #afe0bc;
  background: -moz-linear-gradient(100% 100% 90deg, #779d75, #afe0bc);
  background: -webkit-gradient(linear, left bottom, left top, from(#779d75), to(#afe0bc)); }

/* Header */
.control_bar {
  color: #666666;
  float: right;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 6px 0;
  text-align: right; }

.control_bar a {
  text-decoration: none; }

h1.header {
  font-size: 2.4em;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 4px; }
  h1.header a {
    color: black;
    text-decoration: none; }
    h1.header a:hover {
      text-decoration: underline; }

#hd {
  border-bottom: 1px solid #999999;
  margin-bottom: 12px;
  padding: 6px 0; }

#hd p {
  color: #666666;
  font-size: 0.7em; }
  #hd p a {
    color: #666666;
    text-decoration: none; }
    #hd p a:hover {
      text-decoration: underline; }

/* Basic styles */
br.clear {
  clear: both; }

h2 {
  color: #9e005d;
  font-size: 2em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.2em; }

h4 {
  font-size: 1.2em; }

a {
  color: #627fc4; }
  a:hover {
    color: #333333;
    text-decoration: underline; }

hr {
  background-color: #9e005d;
  border: none;
  color: #9e005d;
  height: 1px;
  margin: 0.8em 0; }

/* Navigation */
#nav {
  margin: 12px 0; }
  #nav li {
    display: inline;
    padding-right: 80px; }
  #nav a {
    text-decoration: none; }
    #nav a:hover {
      text-decoration: underline; }

#navitem {
  display: inline;
  margin: 0;
  padding: 0; }

/* Header notifications */
#notice, #error {
  font-size: 0.8em;
  margin: 12px 0;
  padding: 12px; }

#notice {
  background-color: #c9dcc0;
  clear: both; }

#error {
  background-color: #df4242;
  color: white; }

/* Body */
#bd a.cancel {
  color: red;
  font-size: 0.9em; }
#bd p {
  color: #333333;
  margin-bottom: 12px; }
  #bd p.helper {
    font-size: 0.9em; }
#bd ul, #bd ol {
  margin: 0 0 1em 2em; }
  #bd ul li, #bd ol li {
    line-height: 1.6em; }
#bd .section {
  background: #f5f5fe;
  border: 1px solid #999999;
  margin-bottom: 18px;
  padding: 12px; }
  #bd .section p.explanation {
    color: #666666;
    font-size: 0.8em; }
#bd .open-proposals h4 {
  margin: 0.8em 0 0.4em; }
#bd .open-proposals span.time-ends {
  color: #666666;
  font-size: 0.8em;
  font-weight: normal; }
#bd .open-proposals p.votes {
  float: left;
  margin-right: 24px; }
#bd section.description {
  /* We style Markdown in descriptions */
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 1em 2em;
  padding: 0.5em 2em;
  font-size: 0.8em; }
  #bd section.description.missing {
    border-left: 0; }
    #bd section.description.missing p {
      color: #666666; }
  #bd section.description h1, #bd section.description h2, #bd section.description h3 {
    color: #666666;
    margin: 0.4em 0; }
  #bd section.description h1 {
    color: #333333;
    font-size: 1.4em; }
  #bd section.description h2 {
    color: #333333;
    font-size: 1.2em; }
  #bd section.description h3 {
    font-size: 1.1em; }
  #bd section.description p {
    line-height: 1.4em; }
  #bd section.description ul, #bd section.description ol {
    margin: 0.4em 2em; }
  #bd section.description blockquote {
    border-left: 1px solid #666666;
    margin-left: 2em;
    padding-left: 1em; }

img.gravatar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle; }

#bd .comment {
  background: #f6f6f6;
  border: 1px solid #666666;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 60%; }
  #bd .comment p {
    margin: 0 0 0.6em 1em; }
  #bd .comment p.attribution {
    margin: 0 0 0.6em 0; }

/* Set up a new organisation */
body.setup h1.header {
  margin-bottom: 12px; }
  body.setup h1.header img {
    vertical-align: middle; }
body.setup #bd h2 {
  color: #9e005d; }
body.setup #bd input, body.setup #bd label {
  width: 90%; }
body.setup #bd p.explanation {
  color: #666666;
  font-size: 0.8em;
  margin: -12px 0 4px 20px;
  padding: 0.2em; }
body.setup #bd div.left {
  float: left;
  width: 45%; }
body.setup #bd div.right {
  float: right;
  width: 51%; }
  body.setup #bd div.right textarea {
    height: 3em;
    width: 90%; }
  body.setup #bd div.right input[type="submit"] {
    font-size: 1.1em;
    margin: 1em auto 0;
    padding: 0.8em 0;
    width: 16em; }
body.setup #bd #subdomain_wrapper {
  border: 1px solid black;
  margin: 0 4px 10px 20px;
  padding: 0.4em;
  width: 90%; }
  body.setup #bd #subdomain_wrapper input {
    border: 0;
    margin-top: 2px;
    padding: 0;
    width: 270px;
    width: 62%; }
  body.setup #bd #subdomain_wrapper #base_domain {
    color: #999999;
    font-size: 0.9em;
    margin-left: -3px; }

/* Constitution page highlighting */
span.dynamic {
  background-color: #f3f3f3;
  color: #9d8942;
  padding: 2px; }

/* Tables */
table {
  border-collapse: collapse;
  margin: 1em 0 2em 0;
  text-align: left; }
  table th {
    border-bottom: 1px dashed #cccccc;
    font-weight: bold;
    white-space: nowrap; }
  table th, table td {
    padding: 0.4em 0.6em; }
  table td.timestamp {
    white-space: nowrap; }
  table tr.even td {
    background: #e9e9f4; }

table.proposals, table.decisions, table.failed_proposals {
  border: 1px #004422 solid;
  margin: auto;
  width: 900px; }
  table.proposals td.vote, table.decisions td.vote, table.failed_proposals td.vote {
    text-align: center;
    width: 12em; }
  table.proposals form, table.decisions form, table.failed_proposals form {
    display: inline; }
  table.proposals input, table.decisions input, table.failed_proposals input {
    margin: auto;
    width: 7em; }
  table.proposals td.proposal_ends_in, table.decisions td.proposal_ends_in, table.failed_proposals td.proposal_ends_in {
    text-align: center;
    width: 14em; }

tr.vote_for {
  background-color: #6bba70;
  color: white; }
  tr.vote_for:hover {
    background-color: #499850; }

tr.vote_against {
  background-color: #b02b2c;
  color: white; }
  tr.vote_against:hover {
    background-color: #a0090a; }

tr.vote_in_progress {
  background-color: #c79810;
  color: white; }
  tr.vote_in_progress:hover {
    background-color: #a57600; }

tr.vote_for a, tr.vote_against a, tr.vote_in_progress a {
  color: white; }

/* Forms */
label, input, textarea, select {
  display: block;
  font-family: "Myriad", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0.2em;
  width: 30em; }

label {
  padding-right: 1em;
  margin-bottom: 2px; }

input, textarea {
  border: 1px solid black;
  padding: 0.4em; }

input[type="button"], input[type="submit"], button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.3em 1.2em 0.2em 1.2em;
  width: auto; }

input[type="button"], button {
  background-color: #eeeeee; }
  input[type="button"]:hover, button:hover {
    background-color: #cccccc; }

input[type="submit"] {
  background-color: #9e005d;
  color: white;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: #5e0037; }

input[type="radio"] {
  clear: both;
  float: left;
  margin-bottom: 0.3em;
  margin-right: 0.6em;
  margin-top: 0.3em;
  width: auto;
  border: none; }

input[type="hidden"] {
  display: none; }

input.checkbox {
  display: inline;
  margin: 5px;
  width: auto;
  float: none; }

input.button-form-show {
  cursor: pointer;
  display: none;
  float: left;
  margin: 0 20px 10px 0; }
  input.button-form-show.clicked {
    background-color: #cccccc; }

textarea {
  height: 10em; }

select {
  padding: 0; }

div.open-proposals form {
  clear: none;
  float: left;
  margin: -0.2em 0 0; }

div.open-proposals form input[type="submit"] {
  padding: 0.1em 1em 0.05em 1em; }

input#organisation_subdomain {
  float: left;
  margin-right: 4px;
  text-align: right; }

form.login {
  margin-left: 1em; }

form.login label, form.login input {
  margin-left: 0; }

/* Settings */
#settings_fields h3 {
  margin-top: 1em; }
#settings_fields p {
  margin: 0.4em 0; }
#settings_fields label {
  width: 84%; }
#settings_fields input[type="submit"] {
  margin-top: 2em; }

/* Members */
#member_info {
  margin: 1em 0; }
  #member_info img {
    float: right; }

/* Footer */
.footer {
  border-top: 1px solid black;
  clear: both;
  color: #666666;
  font-size: 0.7em;
  margin-top: 1em;
  padding: 1em; }
  .footer span.right {
    float: right; }
  .footer a {
    text-decoration: none; }
  .footer img {
    border: none;
    vertical-align: middle; }
    .footer img.logo {
      margin-right: 4px; }

ul.constitution li input[type=hidden] {
  float: right;
  width: 0; }

div.constitution_proposal {
  float: right;
  border: 1px solid #004422;
  padding: 0.5em 0.5em 0;
  background-color: #dddddd;
  margin: 0 0 0.5em 0.5em; }
  div.constitution_proposal label, div.constitution_proposal input, div.constitution_proposal textarea {
    float: none;
    width: auto; }
  div.constitution_proposal p {
    margin: 0 0 0.5em; }

form div.constitution_proposal input#submit {
  margin: 0; }

ul.founding_members li {
  clear: left; }

dl.settings dt {
  font-weight: bold;
  border-top: 1px solid #004422;
  margin-top: 1em;
  clear: right; }

div.field_with_errors input {
  border: 1px solid red; }

/* Lightbox */
#lightbox_screen {
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

#lightbox, .lightbox {
  background: white;
  border: 2px solid #9e005d;
  font-size: 0.9em;
  left: 16%;
  padding: 1%;
  position: absolute;
  width: 66%;
  z-index: 11; }
  #lightbox p button, .lightbox p button {
    float: right;
    margin: 0 0.4em; }
  #lightbox p#loading, .lightbox p#loading {
    display: none;
    float: left;
    font-weight: bold;
    margin: 0 1em 0; }
    #lightbox p#loading img, .lightbox p#loading img {
      margin: 0 1em 0 0; }
