%div.control_bar
  - if current_user
    %p
      %strong
        = link_to current_user.name, member_path(current_user)
    %p
      = link_to 'Edit your account', edit_member_path(current_user)
    %p
      = link_to 'Logout', '/logout'
