%h3
  Please confirm you accept One Click Orgs' terms and conditions

%p
  The One Click Orgs platform is provided by the One Click Orgs Association, an unincorporated association with the members listed at
  = link_to('oneclickorgs.com/about-the-project', 'http://oneclickorgs.com/about-the-project', :target => '_blank') + '.'
  We offer you the service on the following terms

%ol
  %li You understand that when you found or join an Association, you are agreeing to be bound by its constitution. This will constitute a legally binding contract between you and the other members of the Association for the time being. You should only agree to join an Association if that is what you want.

  %li We exclude liability to you for any loss or damage, however arising, from any act of negligence on our part except where that negligence results in death or personal injury.

  %li These terms and any contract formed between Association members is made under the law of England and Wales and you agree to submit to the jurisdiction of the courts of England and Wales where there is any dispute between any of: you, one or more members of your society and us.

  %li You accept that your contract is with the other members of your Association (or Associations) and that we have no contractual obligations to you whatsoever.

  %li You consent to our processing your contact details, the constitution of your society and any resolutions you submit to the governance platform together with a record of any votes taken for the purposes of running the governance platform for your society and anything ancillary that we need to do. This should go without saying, but we are saying it anyway for clarity.

%p
  %button#cancel_terms Cancel
  %button#confirm_terms I accept these terms
