.warnings
  %p
    %strong WARNING
    If you are founding a society you should read the following warnings
  %ul
    %li
      %strong DO
      make sure you understand what you are letting yourself in for. There is some subtle law associated with unincorporated associations. Make sure you take legal advice.
    %li
      %strong DO
      keep one or more backups of your society's constitution, resolutions it has passed and contact details for your members. That way if the site is unavailable you will still be able to contact your membership and carry out urgent business.
    %li
      %strong DO
      understand data protection law. We will be processing the contact details of your membership on your behalf. Those details will constitute “personal data” within the meaning of the Data Protection Act 1998. You may be exempt from notifying the Information Commissioner that you are processing personal data (see “Data Protection Good Practice Note:The exemption from notification for ‘not-for-profit’ organisations”) but you must still comply with data protection law.
    %li
      %strong DO
      contact us if there is anything you don’t understand or if you need something our site doesn’t offer (we make no promises).
    %li 
      %strong DON’T
      rely on this site for anything crucial to your life or business. We cannot guarantee that the One Click site will run 24/7. No computer service can achieve that. There will be times when the site is unavailable.
    %li
      %strong DON'T
      rely on this site lasting for ever. Though we hope to run this site for the foreseeable future, we cannot promise to do so. All things come to an end and one day we will have to stop. We will try to give you reasonable notice if we do. 
