%p
  - if Setting[:theme] == 'cooperatives_uk'
    = image_tag('digitalipsbeta.logo.png', :alt => "Digital IPS Beta", :style => 'vertical-align: middle;')
    &nbsp;
  Please note: this is pre-release software. It has not been fully tested yet, and the design and guidance text is not yet complete.
