- if current_user.has_permission(:constitution_proposal) and !current_organisation.proposed?
  / This is not a good way of doing things. Acknowledged.
  = form_tag(:controller => 'proposals', :action => 'create_assets_amendment') do
    - if @assets
      %input{:type => 'radio', :name => 'new_assets_value', :value => '1', :checked => true }
        The Organisation
        %strong
          may
        hold, transfer and dispose of material assets and intangible assets.
      %br
      %input{:type => 'radio', :name => 'new_assets_value', :value => '0' }
        The Organisation
        %strong
          may not
        hold, transfer and dispose of material assets and intangible assets.
    - else
      %input{:type => 'radio', :name => 'new_assets_value', :value => '1' }
        The Organisation
        %strong
          may
        hold, transfer and dispose of material assets and intangible assets.
      %br
      %input{:type => 'radio', :name => 'new_assets_value', :value => '0', :checked => true }
        The Organisation
        %strong
          may not
        hold, transfer and dispose of material assets and intangible assets.
    %p
      = submit_tag "Propose change", :id => 'submit'
