- if current_user.has_permission(:constitution_proposal) and !current_organisation.proposed?
  = form_tag(:controller => 'proposals', :action => 'create_text_amendment') do
    %p
      %label{:for => 'value'}
        Change the organisation’s name to
    %input{:name => 'value', :value => @organisation_name}
    %input{:type => 'hidden', :name => 'name', :value => 'organisation_name'}
    %p
      = submit_tag "Propose change", :id => 'submit'
