%h3
  Ready to start the Founding Vote.
  
%p
  Clicking the Confirm button will send an email to all the Founding Members proposing to create an Association with the constitution in its present form. Everyone will have 3 days to vote. You'll be able to keep track of who's voted on the Founding Members page. If 3 or more people vote to form the Association a legal structure will be created. Making any changes after this point will require a vote of the members.

%p#loading
  = image_tag('squares-loading.gif', :alt => 'Loading')
  %span Starting the founding vote

%p
  %button#cancel_start_founding_vote Cancel
  %button#confirm_start_founding_vote Confirm
