= fields_for(:change_registered_office_address_resolution) do |change_registered_office_address_resolution_fields|
  %p
    = change_registered_office_address_resolution_fields.label :registered_office_address
    = change_registered_office_address_resolution_fields.text_area :registered_office_address
