%h2 New proposal to change the registered office address of the organisation
= form_for(@change_registered_office_address_resolution) do |form|
  = render(:partial => 'form', :locals => {:form => form})