
- if current_organisation.pending? or current_organisation.proposed?

  %h2 View the draft constitution

- else

  %h2 Constitution

- if current_organisation.pending?
  %p
    This is the draft constitution for your group. It's the set of rules the group's members agree to follow to achieve shared objectives. Banks and funding bodies will often ask to see a group's constitution to confirm it is being run properly. At the moment highlighted clauses can be changed by
    = current_organisation.members.first.name
    on the amendments page. After the Association is formed any member will be able to suggest changes and hold a vote.

- if current_organisation.active?
  %p#download
    Download:
    %span.pdf.download
      = link_to 'PDF', constitution_path(:format => 'pdf')
  %p
    Propose amendments to
    %span.dynamic highlighted clauses
    by making
    = succeed '.' do
      = link_to 'amendments', amendments_path

=render :partial => 'shared/constitution'
