%h2
  Rules of
  = co.name

%p#download
  Download:
  %span.pdf.download
    = link_to 'PDF', constitution_path(:format => 'pdf')

- if can?(:update, Constitution)
  .section
    = link_button("Edit the Rules", :url => edit_constitution_path)
    %br.clear

= render(:partial => 'shared/constitution')
