= render :partial => 'shared/constitution', :formats => [:html]

%table.signatures
  %thead
    %tr
      %th Signatures of Founder Members
      %th Full Names of Founder Members in BLOCK CAPITALS (no initials)
  %tbody
    %tr
      %td 1.
      %td
    %tr
      %td 2.
      %td
    %tr
      %td 3.
      %td
%table.signatures
  %thead
    %tr
      %th Signature of Secretary
      %th Full Name of Secretary in BLOCK CAPITALS (no initials)
  %tbody
    %tr
      %td 1.
      %td
