%h2 Dashboard

- @elections = co.elections.where(:state => :open)
- if @elections.present?
  .section
    - @elections.each do |election|
      %p An online election for new Directors is currently open.
      - if election.ballots.where(:member_id => current_user.id).present?
        %p You have already cast your vote in this election.
      - else
        %p= link_to("View the election and cast your vote.", new_election_ballot_path(:election_id => election))

- if @tasks.present?
  .section
    %h3 To do
    %ul.tasks
      - @tasks.each do |task|
        = content_tag_for(:li, task) do
          = render :partial => 'tasks/task', :locals => {:task => task}
    %br.clear
