%h2 Dashboard

%h3 Notifications
.section

.section
  - if can?(:create, Resolution)
    = link_button("Create a new Resolution", :url => new_resolution_path)
  - if can?(:create, ResolutionProposal)
    = link_button("Suggest a new Resolution", :url => new_resolution_proposal_path)
  %br.clear

= render :partial => 'timeline', :locals => {:timeline => @timeline}
