%h3
  The draft constitution for
  = co.name
  is ready!

%p
  Now you can read the constitution, make changes on the
  amendments page, invite some other founding members
  and hold a vote to found your Association.