%h3
  The draft constitution for
  = co.name
  is ready!

%p
  Now you can read the constitution, make changes on the
  = link_to("amendments page", settings_path) + ','
  invite some other
  = link_to("founding members", members_path)
  and hold a vote to found your Association.