%h3
  Congratulations!

%p
  You can see the draft constitution for
  = co.name
  on this page and modify it on the
  = link_to "Settings", settings_path
  page. Now you need to invite at least two other
  = link_to "Founding Members", members_path
  to read through the draft constitution and make any changes before holding a Founding Vote to create the Association.
