h1 {
  border-bottom: 1px solid #333333;
  color: #333333;
  font-size: 20pt; }

h2 {
  font-size: 18pt; }

h3 {
  font-size: 16pt; }

p, ul, ol {
  font-size: 12pt; }

table th, table td {
  font-size: 11pt;
  padding: 4px;
  text-align: left; }

table.signatures {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table.signatures th, table.signatures td {
  border: 1px solid black;
  width: 50%;
}

table.signatures th {
  text-align: center;
  vertical-align: top;
}