body
  font-family: Arial, 'Liberation Sans', sans-serif
h1
  border-bottom: 1px solid #333333
  color: #333333
  font-size: 20pt

h2
  font-size: 18pt

h3
  font-size: 16pt

p, ul, ol
  font-size: 12pt

table
  th, td
    font-size: 11pt
    padding: 4px
    text-align: left
