@import 'defaults'

// Define custom variables here

// CSS fonts

@font-face
  :font-family 'Vegur'
  :src asset-url('vegur-l.otf', font) format('opentype')
  // Light
  :font-weight lighter

@font-face
  :font-family 'Vegur'
  :src asset-url('vegur-m.otf', font) format('opentype')
  // Medium
  :font-weight bold

@font-face
  :font-family 'Vegur'
  :src asset-url('vegur-b.otf', font) format('opentype')
  // Bold
  :font-weight bolder

@font-face
  :font-family 'Vegur'
  :src asset-url('vegur-r.otf', font) format('opentype')
  // Regular
  :font-weight normal

$body-font: 'Vegur','Myriad Pro','Myriad','Helvetica Neue',Helvetica,Arial,sans-serif

@import '../one_click'

// Define custom CSS rules here
